<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Benjamin J. Faber - <%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>About Me</h2>
      <ul>
        <li><a href="">CV</a></li>
        <li><a href="https://orcid.org/0000-0003-4934-400X">Publications</a></li>
        <li><a href="https://gitlab.com/wistell/">Software</a></li>
      </ul>
    </div>
  </body>
</html>
